:root {
    --card-shadow: rgba(0, 0, 0, .2);
}

* {
    box-sizing: border-box;
}

[hidden] {
    display: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 5px;
}

.cart-count {
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: .8rem;
    display: grid;
    place-items: center;
}

.cart-count:empty {
    display: none;
}

.cart-count:before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: -26px;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M253.3 35.1c6.1-11.8 1.5-26.3-10.2-32.4s-26.3-1.5-32.4 10.2L117.6 192H32c-17.7 0-32 14.3-32 32s14.3 32 32 32L83.9 463.5C91 492 116.6 512 146 512H430c29.4 0 55-20 62.1-48.5L544 256c17.7 0 32-14.3 32-32s-14.3-32-32-32H458.4L365.3 12.9C359.2 1.2 344.7-3.4 332.9 2.7s-16.3 20.6-10.2 32.4L404.3 192H171.7L253.3 35.1zM192 304v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16zm96-16c8.8 0 16 7.2 16 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16zm128 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: -1;
}


.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.product-card {
    padding: .5rem;
    border-radius: .8rem;
    box-shadow: 0 0 10px 0 var(--card-shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal__cover,
.product-card__cover {
    border-radius: .8rem;
    overflow: hidden;
}

.product-card__image {
    max-width: 100%;
    object-fit: cover;
}

.modal__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal__link,
.product-card__link {
    display: flex;
}
.product-card__add-to-basket,
.product-card__add-to-cart {
    width: 100%;
    background: coral;
    color: white;
    border: none;
    padding: .8rem;
    border-radius: .8rem;
    cursor: pointer;
    outline: none;
}
.product-card__add-to-basket {
    margin-top: 16px;
    transition: background 0.3s ease-in-out 0s;
}
.product-card__add-to-basket.active {
    background: black;
    animation: bounceIn 0.6s ease-in-out 0s;
}
@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.counter__decrease,
.counter__increase {
    cursor: pointer;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; 
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}

.modal.active,
.overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    fill: #444;
    cursor: pointer;
    transition: fill 0.3s ease-in-out 0s;
}
.modal__cross:hover {
    fill: coral;
}
.modal__description {
    text-align: left;
    margin-bottom: 0;
}